body {
    overflow: scroll;

}

#wrapper {
    width: 960px;
    /* background-color: blanchedalmond; */
}
#top {
    height: 135px;
    line-height: 135px;
}
#logo {
    height: 135px;
}
#autoMobile {
    height: 147px;
}

#sideCard {
    padding: 18px;
}
#banner {
    background-size: cover;
    height: 553px;
    line-height: 135px;
    position: relative;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    background-color: black;
}
#learnMore {
    text: white;
}
#main {
    margin-top: 31px;
}

#footer {
    height: 95px;
    line-height: 95px;
    background-color: black;
    color: white;
    text-align: center;
}
#footer2 {
    height: 95px;
    line-height: 95px;
    background-color: black;
    color: white;
    text-align: center;

}

#banner h1 {
    position: relative;
    top: -20px;
    left: 30px;
    color: white;
}
.contentMargin {
    margin-left: 31px;
    margin-right: 31px;
}
.contentText {
    margin-left: 31px;
}

.panelHeadingMargin {
    margin-left:31px;
    margin-top: 0px;
    margin-bottom: 16px;
}
.topMargin {
    margin-top: 31px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.fullPercent {
    width: 100%;
    height: 100%;
}

.textCenter {
    text-align: center;
}

.thinBorder {
    border: 1px black solid;
}

.marginCenter {
    margin-right: auto;
    margin-left: auto;
}

.displayInline {
    display: inline;
}

.sqrPadding {
    padding-left: 31px;
    padding-right: 31px;
}
.wrapperPaddingRight {
    padding-right: 31px;
}
.wrapperPaddingLeft {
    padding-left: 31px;
}
.floatLeft {
    float: left;
}

.clearMargin {
    margin: 0px;
}

.clearPadding {
    padding: 0px;
}

.clearFix {
    clear: both;
}
.grSmallPadding {
    padding-left: 19px;
    padding-right: 19px;
}
.grSmall {
    width: 329px;
}
.grBigPadding {
    padding-left: 24px;
    padding-right: 24px;
}
.grBig {
    width: 600px;
}

.grFont {
    line-height: 20px;
    font-size: 16px;
}

.Helvetica {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.textRight {
    text-align: right;
}
.textLeft {
    text-align: left;
}
.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}