body {
    overflow: scroll;

}

#wrapper {
    width: 960px;
    font-family: "Helvetica Neue", sans-serif;
}

#main{
    background-image: url(".../images/4X4-adventure-automobile-1571783.jpg");
    height: 555px;
    width: 960px;
}

#menu{
    height: 130px;
    line-height: 130px;
    padding-right: 35px;
}

#about{
    height: 555px;
    width: 960px;
}

#left{
    height: 555px;
    width: 480px;
    opacity: 0.6;
}

#leftabout{
    height: 199px;
    width: 291px;
}

#text{
    padding-top: 109px;
    padding-left: 20px;
    color: white;
    font-size: 12px;
}

#more{
    padding-left: 330px;
    padding-right: 10px;
    font-size: 12px;
}

#box{
    height: 300px;
    padding: 13px;
}

#picture{
    height: 200px;
}

#content{
    width: 590px;
}

#left{
    width: 367px;
}

#table{
    margin-left: 201px;
    margin-right: 201px;
    width: 190px;
}
#top {
    height: 135px;
    line-height: 135px;
}
#logo {
    height: 135px;
}
#autoMobile {
    height: 147px;
}


#footer {
    height: 95px;
    line-height: 95px;
    background-color: black;
    color: white;
    text-align: center;
}

.bBackground{
    background-color: black;
}



.contentMargin {
    margin-left: 31px;
    margin-right: 31px;
}
.contentText {
    margin-left: 31px;
}

.panelHeadingMargin {
    margin-left:31px;
    margin-top: 0px;
    margin-bottom: 16px;
}
.topMargin {
    margin-top: 31px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.fullPercent {
    width: 100%;
    height: 100%;
}

.textCenter {
    text-align: center;
}

.thinBorder {
    border: 1px black solid;
}

.marginCenter {
    margin-right: auto;
    margin-left: auto;
}

.displayInline {
    display: inline;
}

.padding {
    padding: 20px;
}

.paddingLeft{
    padding-left: 31px;
}

.floatLeft {
    float: left;
}

.floatRight{
    float: right;
}

.floatBottom{
    float: bottom;
}


.clearMargin {
    margin: 0px;
}

.clearPadding {
    padding: 0px;
}

.clearFix {
    clear: both;
}


.textRight {
    text-align: right;
}
.textLeft {
    text-align: left;
}
.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.inLineBlock{
    display: inline-block;
}

.copyright{
    color: white;
}